@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*
#c5ebd6
#83e1ad
#3ddc84
#26a866
#1a5c37
#063d1e
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #26a866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

body {
    margin: 0px;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}



a.externo::after {
    content: '\00A0\1F517';
}



header {
    background: linear-gradient(var(--cor2), var(--cor5));
    color: white;
    padding: 6px;
    padding-top: 30px;

    min-height: 150px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

header > h1 {
    margin: 0px;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
    text-align: center;
    font-weight: normal;
}

header > p {
    max-width: 600px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.208);
    font-size: 1.2em;
    padding: 0px 10px;
}

nav > ul {
    padding: 0px;
    margin: 0px;
}

nav > ul > li {
    display: inline-block;
    margin-top: 20px;
}

nav a {
    color: var(--cor0);
    text-decoration: none;
    padding: 7px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav > ul > li > a:hover {
    background-color: var(--cor0);
    color: var(--cor5);
}



main {
    background-color: white;
    margin: auto;

    min-width: 280px;
    max-width: 800px;
    padding: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.425);
    border-radius: 0px 0px 10px 10px;
}


main > h1 {
    margin: 0px;
    font-family: var(--fonte-android);
    font-size: 1.7em;
    color: var(--cor4);
    font-weight: normal;
}

main > h2 {
    font-family: var(--fonte-android);
    font-size: 1.2em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 5px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}


div.centralizar {
    margin: auto;
    text-align: center;
}


div.video {
    background-color: var(--cor5);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 56%;

    position: relative;
}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 90%;
    height: 90%;
}



aside {
    border-radius: 0px 0px 10px 10px;
}

.tabela {
    background-color: var(--cor0);
    border-radius: 10px;
    min-width: 280px;
    max-width: 800px;
    padding: 10px;
}

.tabela h3 {
    background-color: var(--cor4);
    color: white;
    padding: 7px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

.tabela > p {
    padding: 10px;
}

.tabela ul {
    list-style-type: '\2714\00A0';
    columns: 2;
}

.tabela > ul > li > abbr {
    text-decoration: none;
}

.tabela > p > a {
    text-decoration: none;
    color: black;
}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
    font-size: 0.8em;
}

footer > p {
    margin: 0px;
}

footer > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor0);
}